$link-color: #57799e;
$chat-header-color: #57799e;
$chat-header-text-color: #fff;
$chat-border-color: #ddd;
$chat-form-color: #f1f1f1;

$chat-text-color: #444;
$button-color: #fff;

$chat-users-color: #fff;


html, body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  color: $chat-text-color;
  background-color: #fcfcfc;
}


@mixin clearfix() {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.container {
  position: relative;
  height: 100%;
}

/* Сама область чата */
.chat {
  width: 600px;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  position: relative;

  &__header {
    background-color: $chat-header-color;
    padding: 0 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    @include clearfix();
  }

  &__title {
    margin: 0;
    color: $chat-header-text-color;
    line-height: 50px;
    float: left;
  }

  &__body {
    min-height: 400px;
    max-height: 400px;
    border-left: 1px solid $chat-border-color;
    border-right: 1px solid $chat-border-color;
    padding: 15px;
  }

  &__form {
    background-color: $chat-form-color;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid $chat-border-color;
    padding: 15px;
  }

  &__users {
    position: absolute;
    width: 300px;
    right: 0;
    background-color: $chat-users-color;
    border: 1px solid $chat-border-color;
    box-shadow: 1px 2px 5px $chat-border-color;
    box-sizing: border-box;
    padding: 10px;
    display: none;
    &:before {
      border: 10px solid transparent;
      border-bottom: 10px solid $chat-users-color;
      content: '';
      display: block;
      position: absolute;
      top: -20px;
      right: 12px;
    }

    &_active {
      display: block;
    }

  }

  &__users-title {
    margin: 0;
    font-size: 13px;
    font-weight: normal;
    border-bottom: 1px solid $chat-border-color;
    padding-bottom: 5px;
  }

  &__users-count {
    font-weight: bold;
  }

  &__users-user {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  &__users-login {
    font-size: 12px;
    font-weight: bold;
  }


  &__link {
    color: $chat-header-text-color;
    float: right;
    line-height: 50px;
    &:hover {
      color: darken($chat-header-text-color, 10%);
    }
  }

}

/* Форма для отправки сообщений */
.form {
  &__row {
    margin-bottom: 10px;
  }

  &__input {
    border: 1px solid $chat-border-color;
    border-radius: 3px;
    padding: 10px 5px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    font-size: 12px;
  }
  &__button {
    border: 1px solid $link-color;
    background-color: $link-color;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 3px;
    color: $button-color;
    &:hover {
      cursor: pointer;
    }
  }
}

.auth {
  background-color: #fff;
  position: relative;
  top: 50%;
  width: 400px;
  margin: 0 auto;
  border: 1px solid $chat-border-color;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 3px;
  transform: translateY(-50%);
  &__title {
    margin: 0 0 15px 0;
  }
}
.message {
  padding: 10px 0;
  font-size: 14px;

  &__from {
    color: #666;
    font-size: 12px;
  }
  &__user {
    font-size: 13px;
    font-weight: bold;
    margin-right: 15px;
  }
  &__text {
    font-size: 14px;
  }
}