@charset "UTF-8";
html, body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  color: #444;
  background-color: #fcfcfc; }

.container {
  position: relative;
  height: 100%; }

/* Сама область чата */
.chat {
  width: 600px;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  position: relative; }
  .chat__header {
    background-color: #57799e;
    padding: 0 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .chat__header:after {
      content: '';
      display: block;
      clear: both; }
  .chat__title {
    margin: 0;
    color: #fff;
    line-height: 50px;
    float: left; }
  .chat__body {
    min-height: 400px;
    max-height: 400px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 15px; }
  .chat__form {
    background-color: #f1f1f1;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid #ddd;
    padding: 15px; }
  .chat__users {
    position: absolute;
    width: 300px;
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 1px 2px 5px #ddd;
    box-sizing: border-box;
    padding: 10px;
    display: none; }
    .chat__users:before {
      border: 10px solid transparent;
      border-bottom: 10px solid #fff;
      content: '';
      display: block;
      position: absolute;
      top: -20px;
      right: 12px; }
    .chat__users_active {
      display: block; }
  .chat__users-title {
    margin: 0;
    font-size: 13px;
    font-weight: normal;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px; }
  .chat__users-count {
    font-weight: bold; }
  .chat__users-user {
    margin-bottom: 10px;
    margin-top: 10px; }
  .chat__users-login {
    font-size: 12px;
    font-weight: bold; }
  .chat__link {
    color: #fff;
    float: right;
    line-height: 50px; }
    .chat__link:hover {
      color: #e6e6e6; }

/* Форма для отправки сообщений */
.form__row {
  margin-bottom: 10px; }

.form__input {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 10px 5px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  font-size: 12px; }

.form__button {
  border: 1px solid #57799e;
  background-color: #57799e;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 3px;
  color: #fff; }
  .form__button:hover {
    cursor: pointer; }

.auth {
  background-color: #fff;
  position: relative;
  top: 50%;
  width: 400px;
  margin: 0 auto;
  border: 1px solid #ddd;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 3px;
  transform: translateY(-50%); }
  .auth__title {
    margin: 0 0 15px 0; }

.message {
  padding: 10px 0; }
  .message__from {
    color: #666;
    font-size: 12px; }
  .message__user {
    font-size: 13px;
    font-weight: bold;
    margin-right: 15px; }
  .message__text {
    font-size: 14px; }
